.title {
    padding-top: 20px;
    padding-bottom: 10px;
}

#source {
    padding-top: 20px;
    padding-bottom: 10px;
}

.country {
    stroke: #333333;
    stroke-width: 0.5;
}

#tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 3px;
    background-color: #e5e5e5;
    pointer-events: none;
    opacity: 0;
}

#tooltip text {
    margin: 0;
    font-family: sans-serif;
    font-size: 10px;
}

#annotation {
    opacity: 0;
}